*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-family: 'Truculenta', sans-serif;
}



.hero {
    height: 100vh;
    background-color: #842f1d;
    color: white;
    font-size: 30px;
}

.logo img{
    height: 120px;
    width: 200px;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
    width: 400px;
    justify-content: space-around;
    font-size: 25px;
    padding-top: 2vh;
}


li{
    text-decoration: none;
}

.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-name{
    margin: 20vh auto auto 10vw;
}

.hero-name h1{
    font-size: 50px;
    font-weight: bolder;
}

.hero-name p{
    font-size: 20px;
}

.about-button{
    height: 7vh;
    width: 150px;
    font-size: 18px;
    border-radius: 2.5vh;
    background-color: #fbb666;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.about-button:hover{
    background-color: #fdce98;
    cursor: pointer;
}

.about {
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.about h2{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 40px;
    padding-left: 10px;
}

.about .headshot-class{
    display: flex;
    justify-content: center;
}

.headshot {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 5vh;
}

.headshot-container{
    display: flex;
    align-items: flex-end;
}

blockquote{
    padding: 15px;
}

#projects{
    background-color: #fbb666;
}

#projects h2{
    font-weight: bolder;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 3vh;
}

.dev-table{
    display: flex;
    justify-content: center;
}

.project-tables{
    display: flex;
    justify-content: space-around;
    margin-top: 7vh;
    padding-bottom: 5vh;
}

@media screen and (max-width: 1000px){
    .project-tables{
        display: flex;
        flex-wrap: wrap;
    }
    
}

a {
    color: white!important;
    text-decoration: none!important;
}

table{
    width: 500px;
    height: 50vh;
    text-align: center;
    font-size: large;
}

table a{
    text-decoration: underline!important;
}

table a:hover{
    background-color: rgb(187, 185, 185); 
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

table tr {
    height: 50px;
    border-bottom: 1px solid gray;
}

table th {
    padding: 10px;
    background-image: linear-gradient(to right,  rgb(105, 104, 104), rgb(173, 170, 170));
    color: white;
}

table td {
    padding: 10px;
    background: linear-gradient(to right, rgb(105, 104, 104), rgb(173, 170, 170));
    color: white;
}



ul a:hover{
    background-color: darkgray;
    cursor: pointer;
    border-radius: 45px;
}

.socials a:hover{
    background-color: darkgray;
    cursor: pointer;
    border-radius: 15px;
}

footer {
    background-color: #55231d;
}

form h2{
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 2vh;
}

.inputField{
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

#clientEmail, #clientName{
    width: 500px;
    height: 5vh;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    outline: none;
}

#clientMsg{
    width: 500px;
    height: 30vh;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    outline: none;
    
}

#sendBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 3vh;
    background-color: #fbb666;
    color: white;
    width: 150px;
    height: 7vh;
    padding: 5px;
    border: 0;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
}

#sendBtn:hover{
    background-color: #fdce98;
    cursor: pointer;
}

.hamburger{
    display: none;
}

.hamburger:focus{
    outline: 0;
}

@media only screen and (max-width: 1000px) {

    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 10px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #55231d;
        margin: 0px;
    }

    ul.show{
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #55231d;
    }

    .logo{
        display: none;
    }

    table{
        margin-top: 20px;
    }
}